<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Multiple linear regression</title>
    <link href="{{ url_for('static', filename='master29.css') }}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="quimat">
      <ul>
        <li><img src="../static/logo.jpg" alt="pic1"></li>
        <li><p>Division of Pharmaceutical Chemistry, BCRCP, INDIA</p></li>
      </ul>

    </div>

    {% block content %}
    {% endblock %}
  </body>
  <footer>
    <p>Developed: Dr. Amit Kumar Halder</p>
    <p><a href="mailto:amit.halder@bcrcp.org">amit.halder@bcrcp.org</a></p>
</footer>
</html>
